.app-layout{
    min-height: 100vh;
    .site-menu{
        line-height: 64px;
    }
    .site-content{
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        .breadcrumb-container{
            margin: 16px 0;
        }
        .content-container{
            background: #fff;
            padding: 24px;
            min-height: 280px;
            flex: auto;
        }
    }
    .site-footer{
        text-align: center;
    }
}
